<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dyw.auth.db.mapper.SysApiResourceMapper">

    <resultMap id="ApiResourceDto" type="cn.dyw.auth.db.model.ApiResourceDto" autoMapping="true">
        <id property="id" column="id"/>
        <collection property="auths" javaType="java.util.ArrayList" ofType="cn.dyw.auth.db.model.AuthDto"
                    autoMapping="true"/>
    </resultMap>

    <select id="queryAll" resultMap="ApiResourceDto">
        select sar.id,
               sar.api_path,
               sar.match_type,
               sar.api_method,
               sar.description,
               sar.enable,
               sar.create_time,
               sar.update_time,
               srar.auth_type,
               srar.auth_object
        from sys_api_resource sar
                 left join sys_api_resource_auth srar
                           on sar.id = srar.api_resource_id
        where sar.enable = true
    </select>
</mapper>
