<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dyw.auth.db.mapper.SysMenuPermissionMapper">

    <resultMap id="BaseResultMap" type="cn.dyw.auth.db.domain.SysMenuPermission">
            <id property="menuId" column="menu_id" />
            <id property="permissionId" column="permission_id" />
            <result property="createTime" column="create_time" />
    </resultMap>
    <delete id="deleteRoleMenuPermissions">
        delete t1
        from sys_permission t1 join sys_menu_permission t2 on t1.permission_id = t2.permission_id
        join sys_role_permission t3 on t1.permission_id = t3.permission_id
        where t2.menu_id in
        <foreach item="item" index="index" collection="menuIds" open="(" separator="," close=")">
            #{item}
        </foreach>
        and t3.role_code in (
        select distinct descendant_role_code from sys_role_hierarchy
        where ancestor_role_code = #{roleCode}
        )
    </delete>

</mapper>
