<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dyw.engine.server.db.mapper.SysFastApiMapper">

    <resultMap id="FastApi" type="cn.dyw.engine.server.model.FastApi" autoMapping="true">
        <id column="id" property="id"/>
        <association property="fastSql" autoMapping="true">
            <id property="id" column="sql_id"/>
            <result property="sqlName" column="sql_name"/>
            <result property="sqlDescribe" column="sql_describe"/>
            <result property="sqlTemplate" column="sql_template"/>
            <result property="customCountSql" column="custom_count_sql"/>
            <result property="createTime" column="sql_create_time"/>
            <result property="updateTime" column="sql_update_time"/>
            <result property="statementType" column="statement_type"/>
            <result property="dataSource" column="data_source"/>
            <result property="sortFields" column="sort_fields"
                    typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
            <result property="parameters" column="parameters"
                    typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
            <result property="dataPage" column="data_page"
                    typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
            <result property="extend" column="extend"
                    typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
            <result property="dataFieldBinds" column="data_field_binds"
                    typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        </association>
    </resultMap>

    <select id="queryApiByPath" resultMap="FastApi">
        select sfa.id,
               sfa.api_name,
               sfa.api_describe,
               sfa.api_path,
               sfa.sys_sql,
               sfa.create_time,
               sfa.update_time,
               sfs.id as sql_id,
               sfs.sql_name,
               sfs.sql_describe,
               sfs.sql_template,
               sfs.custom_count_sql,
               sfs.statement_type,
               sfs.sort_fields,
               sfs.parameters,
               sfs.data_page,
               sfs.extend,
               sfs.data_field_binds,
               sfs.create_time as sql_create_time,
               sfs.update_time as sql_update_time,
               sfs.data_source
        from sys_fast_api sfa
                 join sys_fast_sql sfs on sfa.sys_sql = sfs.id
        where sfa.api_path = #{path}
    </select>
    <select id="queryDetailsApi" resultMap="FastApi">
        select sfa.id,
        sfa.api_name,
        sfa.api_describe,
        sfa.api_path,
        sfa.sys_sql,
        sfa.create_time,
        sfa.update_time,
        sfs.id as sql_id,
        sfs.sql_name,
        sfs.sql_describe,
        sfs.sql_template,
        sfs.custom_count_sql,
        sfs.statement_type,
        sfs.sort_fields,
        sfs.parameters,
        sfs.data_page,
        sfs.extend,
        sfs.data_field_binds,
        sfs.create_time as sql_create_time,
        sfs.update_time as sql_update_time
        from sys_fast_api sfa
        join sys_fast_sql sfs on sfa.sys_sql = sfs.id
        <where>
            <if test="rq.apiName != null and rq.apiName != ''">
                and sfa.api_name like concat(#{rq.apiName}, '%')
            </if>
            <if test="rq.apiDescribe != null and rq.apiDescribe != ''">
                and sfa.api_describe like concat(#{rq.apiDescribe}, '%')
            </if>
            <if test="rq.apiPath != null and rq.apiPath != ''">
                and sfa.api_path like concat(#{rq.apiPath}, '%')
            </if>
        </where>
    </select>
</mapper>
